@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

img:hover {
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 20px 5px rgba(238, 0, 238, 0.796);
}